<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DDB3117F-9546-4B56-B027-69E3AFACDDA4</key>
	<string>John Doe</string>
	<key>BBFDBCF1-75E1-46E5-84BF-1F9136098EB4</key>
	<string>Jane Doe</string>
	<key>73651FBA-A63A-4553-B68F-C8F6F2424676</key>
	<string>Professional Journal</string>
	<key>EBFEF11D-5AB2-4901-8CF1-CD717DCBFB7D</key>
	<string>Problem</string>
	<key>1D922E05-07F0-49BF-95C1-2564D49C3910</key>
	<string>Investment Opportunity</string>
	<key>8A2835BE-CF69-48D2-842E-2994282E48CA</key>
	<string>Customer Complaint</string>
</dict>
</plist>
